@import "./variables";

.titulo{
    display: flexbox;
    justify-content: center;
    margin: 11%;
    background-color: $color-primario;
}
.titulo h1{
    font-size: 48px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    color: $color-primario3;
}
.titulo p{
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    color: $color-primario3;
    margin-bottom: 36px;
    width: 288px;
}
.tachar{
    text-decoration: line-through;
}
.botton{
    display: block;
    width: 230px;
    height: 48px;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
    border: 1px solid $color-segundario3;
    background-color: $color-segundario3;
    color: $color-primario3;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    font-size: 1.12rem;
    font-family: 'IBM Plex Mono', monospace;
}
.botton::before{
    width: 230px;
    content: "";
    position: absolute;
    height: 0;
    left: 0;
    bottom: 0;
    background: rgb(0,240,184);
    background: linear-gradient(95deg, rgba(0,240,184,1) 20%, rgba(0,0,254,1) 76%);
    transition: all .25s;
    z-index: -1;
}
.botton:hover{
    border: 1px solid transparent;
    color: $color-primario;
}
.botton:hover::before{
    height: 48px;
}

.botton a {
    color: $color-primario3;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}
