//colores:
$color-primario:#FFFFFF;
$color-primario2:#0000EC;
$color-primario3:#060A24;

//que no se usan mucho
$color-segundario:#0000FF;
$color-segundario2:#0000A3 ;
$color-segundario3:#00F3BB;
$color-segundario4:rgba(0, 0, 255, 0.329);

//
$color-terciario:black;